.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 20px;
    background-color: #D9D9D9;
    height: 300px;
}

.rating_img_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.rating h2{
    color: #000000;
}

.rating h2, h3{
    font-weight: bolder;
    font-size: 16pt;
}

.rating p{
    color: #333333;
    margin: 15px 0;
}
