.highlights{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: minmax(150px, auto);
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}
.highlights_title{
    display: grid;
    grid-template-columns: repeat(2,37%);
    align-items: center;
    justify-content: end;
    gap: 175px;
}

.highlights_title a{
    background-color: #FACE14;
    text-align: center;
    width: 120px;
    margin-left: 50px;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
}
.highlights_title a:hover{
    background-color: #cfad13;
}
.highlights_title a:active{
    background-color: #495E57;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .highlights_title{
        justify-content: center;
        margin-top: 50px;
        gap: 10px;
    }

    .highlights_title a{
        margin-left: 50px;
    }

    .highlights{
        grid-template-columns: repeat(auto-fit, 300px);
    }
}