.banner-content{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 10px;
    width: 100%;
}

.banner{
    background-color: #495E57;
    height: 270px;
    margin-bottom: 100px;
    width: 100%;
}
.banner-description{
    padding: 10px;
    width: 50%;
}
.banner-description h1{
    color: #FACE14;
    margin-bottom: 5px ;
    font-weight: 500;
}
.banner-description h3,p {
    color: #ffffff;
    margin: 0;
    font-weight: 400;
}
.banner-description h3{
    font-size: 16pt;
}
.banner-description p {
    margin: 25px 0;
}
.banner-description a{
    width: 120px;
    background-color: #FACE14;
    color: #000000;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.banner-description a:hover{
    background-color: #cfad13;
}

.banner-description a:active{
    background-color: #293531;
    color: #ffffff;
}

.banner-content img{
    width: 300px;
    height: 280px;
    border-radius: 8px;
    margin-top: 35px;
}

@media screen and (max-width:800px) {
  .banner{
    margin: 0;
    padding: 0;
  }
    .banner-content img{
    width: 35%;
  }
}